*.pyc
*bokeh*
*/__pycache__/
*/input_files/
*/output_files/
*/testing/temp_output/


NIQ_uncompiled/source_code/__pycache__/niq_hmm.cpython-36.pyc
NIQ_uncompiled/source_code/__pycache__/niq_classes.cpython-36.pyc
NIQ_uncompiled/source_code/__pycache__/niq_misc.cpython-36.pyc
NIQ_uncompiled/source_code/.vscode/tasks.json
NIQ_uncompiled/output_files/trash
NIQ_uncompiled/source_code/trash/
