*.pyc
*bokeh*
*/__pycache__/
*/input_files/
*/output_files/
*/testing/temp_output/
**/temp*


NIQ_uncompiled/source_code/.vscode/tasks.json
NIQ_uncompiled/output_files/trash
NIQ_uncompiled/source_code/trash/
NIQ_uncompiled/source_code/.vscode/settings.json
